 @import "tailwindcss";



.font-oswald {
  font-family: var(--font-oswald);
}
.font-raleway {
  font-family: var(--font-raleway)
}

html, body {
  font-family: var(--font-oswald);
  scroll-behavior: smooth;
  background-color: black; 
  color: white; 
}

html {
  scroll-behavior: smooth;
}


/* Hide scrollbar for all browsers */
.scrollbar-none {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.scrollbar-none::-webkit-scrollbar {
  display: none;        
}



/* Animations */

/* Pulse */
@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.5);
  }
}
.pulse {
  animation: pulse 2s ease-in-out infinite;
}